How many students?
<input type = "text" id = "myInput" oninput = "myFunction()">
<form method= "post" action= "names" id= "text_box">
<p id= "demo"></p>
<br>
<input type = "submit">
</form>

<script>
	function myFunction() {
		var x = document.getElementById("myInput").value;
		var y = "";
		for (var i=0; i<x; i++) 
			document.getElementById("demo").innerHTML = "Enter their names in the boxes below:<br> ";
		for (var i=0; i<=x; i++) {
			var input = document.createElement("input");
			input.type = "text";
			input.name = "text" + i; //names the element
			input.id = "marv"
			document.getElementById("demo").appendChild(input).value;
		}
	}
</script>